In [1]:
# can create a tuple with mixed types
t = (1,2,3)

In [2]:
type(t)

tuple

In [3]:
# convert into list
var1 = list(t)

In [4]:
var1

[1, 2, 3]

In [5]:
type(var1)

list

In [6]:
# convort into tuple
tuple(var1)

(1, 2, 3)

In [7]:
#check len just like a list
len(t)

3

In [8]:
# can also mix object types
t = ('one',2,3.3)
# show
t

('one', 2, 3.3)

In [9]:
#use indexing just like we did in lists
t[0]

'one'

In [10]:
#slicing just like a list
t[-2]

2

In [11]:
t

('one', 2, 3.3)

In [12]:
#use .index to enter to enter a value and return the index
t.index('one')

0

In [14]:
#use .count to count the number of time a value appears
t.count(2)

1

In [15]:
t[0]= 'change'

TypeError: 'tuple' object does not support item assignment

In [16]:
#make a dictionary with {} and : to signify a key and a value
my_dict = {'key1': 'value1','key2': [2,4,9,0]}

In [17]:
my_dict

{'key1': 'value1', 'key2': [2, 4, 9, 0]}

In [18]:
# call values by their key
my_dict['key2']

[2, 4, 9, 0]

In [21]:
my_dict = {'key1' :123,'key2':[12,23,33],'key3':['item0','item1','item2']}

In [22]:
#let's call items from the dictionary
my_dict['key3'][1]

'item1'

In [23]:
# can call an index on that value
my_dict['key2'][-2]

23

In [24]:
#can then even call methods on that value
my_dict['key3'][0].upper()

'ITEM0'

In [25]:
my_dict['key1']

123

In [26]:
#subtract 123 from the value
my_dict['key1'] = my_dict['key1'] - 123

In [27]:
#check
my_dict['key1']

0

In [33]:
my_dict['key1'] =  my_dict['key1'] + 200

In [34]:
my_dict['key1']

800

In [35]:
# creat a new dictnary
d = {}

In [36]:
d

{}

In [37]:
# creat a new  key through assignment
d['animal'] = 'Dog'

In [38]:
# can do this with any object
d['numbers']= 42

In [40]:
#show
d

{'animal': 'Dog', 'numbers': 42}

In [41]:
# dictionary nested inside a dictionary nested in side a dictionary
d = {'key1':{'nestkey':{'subnestkey':[10,20,30]}}}

In [42]:
d

{'key1': {'nestkey': {'subnestkey': [10, 20, 30]}}}

In [43]:
d['key1']['nestkey']['subnestkey'][2]

30

In [44]:
#create a typical dictionary
d = {'key1':1,'key2':2,'key3':3}

In [45]:
#method to return a list of all keys 
d.keys()

dict_keys(['key1', 'key2', 'key3'])

In [46]:
# methods to grab all values
d.values()

dict_values([1, 2, 3])

In [47]:
#method to return tuples of all items  (we'll learn about tuple soon)
d.items()

dict_items([('key1', 1), ('key2', 2), ('key3', 3)])

In [1]:
{x:x**2 for x in range(20)}

{0: 0,
 1: 1,
 2: 4,
 3: 9,
 4: 16,
 5: 25,
 6: 36,
 7: 49,
 8: 64,
 9: 81,
 10: 100,
 11: 121,
 12: 144,
 13: 169,
 14: 196,
 15: 225,
 16: 256,
 17: 289,
 18: 324,
 19: 361}